<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4>Bar Component</h4>
                <div class="progress">
                    <div class="progress-bar bg-primary progress-bar-striped active" role="progressbar" style="height:10px;" [style.width]="Percent">
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-info progress-bar-striped active" role="progressbar" style="height:10px;" [style.width]="Percent2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incresement (value)="progress1=$event" [value]="progress1"></app-incresement>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incresement (value)="progress2=$event" [value]="progress2"></app-incresement>
            </div>
        </div>
    </div>
</div>